<div class="modal-body">

    <div class="mb-3">
        <strong>Name:</strong>
        <%= user.name %>
    </div>

    <div class="mb-3">
        <strong>Email:</strong>
        <%= user.email %>
    </div>

    <div class="mb-3">
        <strong>City:</strong>
        <%= user.city %>
    </div>

    <div class="mb-3">
        <strong>State:</strong>
        <%= user.state %>
    </div>

    <div class="mb-3">
        <strong>Country:</strong>
        <%= user.country %>
    </div>

    <div class="mb-3">
        <strong>Contact Number:</strong>
        <%= user.contact_number %>
    </div>

</div>


<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>